.places {
  max-width: 100%;
  padding: 92px 0;
  margin: 0;
}

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 48px;
  column-gap: 40px;
  max-width: 984px;
  margin: 0 auto;
  padding: 0 48px 80px 48px;
}

.place:last-of-type {
  padding-bottom: 0;
}

.place__title {
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.place__website {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.place__url-heading {
  max-width: 456px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
}

.place__link {
  max-width: 456px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
}

.place__link:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.place__image {
  max-width: 460px;
}

.place__text-container {
  display: flex;
  flex-direction: column;
  max-width: 484px;
}

.place__text {
  max-width: 484px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 0 0 26px 0;
}

.place__text:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }

  .place__image {
    max-width: 440px;
  }
  .place__text-container {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
  }
  .place {
    padding: 0 24px 73px 24px;
    column-gap: 28px;
  }
  .place__image {
    max-width: 340px;
  }
  .place__text-container {
    max-width: 352px;
  }
  .place__text {
    font-size: 16px;
    line-height: 26px;
  }
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding-top: 64px;
    padding-bottom: 66px;
  }
  .place {
    padding: 0 0 66px 0;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .place__image {
    max-width: 320px;
    width: 100%;
    margin-bottom: 32px;
  }
  .place__text-container {
    max-width: 288px;
  }
  .place__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 0 16px;
  }
  .place__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
    margin-bottom: 32px;
  }
  .place__website {
    padding: 0 16px;
    margin-bottom: 32px;
  }
  .place__url-heading {
    margin-top: 0;
  }
}
