.routemap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .routemap {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .routemap {
    margin: 0 auto;
  }
}
