.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  height: 18px;
  margin: 0 auto;
  padding: 92px 48px 24px 48px;
  background-color: #2a2c2f;
}

.footer__link {
  list-style: none;
  color: white;
  margin-right: 18px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:last-of-type {
  margin-right: 0;
}

.footer__link:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px 24px;
  }
}
